<div class="card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-primary">
          <div class="card-body">
            <h6 class="card-title">Quantidade de produtos</h6>
            <p class="card-text text-white font-weight-bold display-6">R$ 500</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-danger">
          <div class="card-body">
            <h6 class="card-title">Custo de estoque</h6>
            <p class="card-text text-white font-weight-bold display-6">R$ 200.000</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-success">
          <div class="card-body">
            <h6 class="card-title">Valor do estoque</h6>
            <p class="card-text text-white font-weight-bold display-6">R$ 400.000</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-warning">
          <div class="card-body">
            <h6 class="card-title">Lucro do estoque</h6>
            <p class="card-text text-white font-weight-bold display-6">R$ 200.000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
