{% extends 'base.html' %} 

{% block title %} 
SGE - Home 
{% endblock %} 

{% block content %} 

  {% if perms.products.view_product and perms.inflows.view_inflow %}
    {% include 'components/_product_metrics.html' %} 
  {% endif %}
  {% if perms.outflows.view_outflow %}
    {% include 'components/_sales_metrics.html' %}
  {% endif %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% if perms.outflows.view_outflow %}
  <div class="row mt-5 justify-content-center">
    <div class="col-md-6 text-center">
      <h5 class="text-center mb-5">Valor de vendas (últimos 7 dias)</h5>
      <canvas id="dailySalesChart"></canvas>
    </div>
    <div class="col-md-6 text-center">
      <h5 class="text-center mb-5">Quantidade de produtos vendidos</h5>
      <canvas id="dailyQuantityProductSoldChart"></canvas>
    </div>  
    
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let dailySalesData = JSON.parse('{{ daily_sales_data|safe }}');
        let dailyQuantityProductSoldData = JSON.parse(
          '{{ daily_quantity_products_sold_data|safe }}'
        );

        let ctxDailySales = document
          .getElementById("dailySalesChart")
          .getContext("2d");
        let dailySalesChart = new Chart(ctxDailySales, {
          type: "line",
          data: {
            labels: dailySalesData.dates,
            datasets: [
              {
                label: "Valor em vendas",
                data: dailySalesData.values,
                fill: false,
                borderColor: "rgba(54, 162, 235, 1)",
                borderWidth: 2,
                tension: 0.5,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });

        let ctxDailyQuantityProductSold = document
          .getElementById("dailyQuantityProductSoldChart")
          .getContext("2d");
        dailyQuantityProductSoldChart = new Chart(ctxDailyQuantityProductSold, {
          type: "bar",
          data: {
            labels: dailyQuantityProductSoldData.dates,
            datasets: [
              {
                label: "Quantidade de produtos vendidos",
                data: dailyQuantityProductSoldData.values,
                backgroundColor: "#4649FF",
                borderColor: "#1D1CE5",
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      });
    </script>
  </div>
{% endif %} 
{% if perms.products.view_product %}
  <div class="row mt-5 justify-content-center">
    <div class="col-md-6 text-center">
      <h5 class="mb-5">Produtos por Categoria</h5>
      <div class="embed-responsive embed-responsive-1by1" style="width: 400px; display: inline-block;">
        <canvas id="productByCategoryChart" class="embed-reponsive-item"></canvas>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <h5 class="mb-5">Produtos por Marca</h5>
      <div style="width: 400px; display: inline-block;">
        <canvas id="productByBrandChart" class="embed-reponsive-item"></canvas>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let productCountByCategory = JSON.parse('{{ product_count_by_category|safe }}');
        let productCountByBrand = JSON.parse('{{ product_count_by_brand|safe }}');

        let ctxCategory = document.getElementById('productByCategoryChart').getContext('2d');
        let productByCategoryChart = new Chart(ctxCategory, {
          type: 'doughnut',
          data: {
            labels: Object.keys(productCountByCategory),
            datasets: [{
              data: Object.values(productCountByCategory),
              borderWidth: 1
            }]
          },
          options: {
            plugins: {
              legend: {
                display: false
              },
            }
          }
        });

        let ctxBrand = document.getElementById('productByBrandChart').getContext('2d');
        let productByBrandChart = new Chart(ctxBrand, {
          type: 'doughnut',
          data: {
            labels: Object.keys(productCountByBrand),
            datasets: [{
              data: Object.values(productCountByBrand),
              borderWidth: 1
            }]
          },
          options: {
            plugins: {
              legend: {
                display: false
              },
            }
          }
        });
      });  
    </script>
  </div>
{% endif %}

{% endblock %}
